# Auth NextAuth
NEXTAUTH_SECRET=                    # openssl rand -base64 32
NEXTAUTH_URL=https://app-realisations.vercel.app

# Techniciens (nom:hash_bcrypt — bcryptjs.hash("pass", 10))
AUTH_USER_1=technicien1:$2b$10$qf8VIy.uPuB7jYwaw7l9O.NsR3rcs6.xLnHn0eP7Z8hCZ2eE9l8v2
AUTH_USER_2=technicien2:$2b$10$2YvOz/Dzt2kmzQub7sJM1.Zd0CnL6r58TMzcEcuunak0haLNn2jTu
AUTH_USER_3=technicien3:$2b$10$OOBA3VaDlolM.GF8RxrZuu/tc/363cYESvHAhnzKESgQLEJCK1EmO
AUTH_USER_4=                        # optionnel
AUTH_USER_5=                        # optionnel

# APIs
OPENAI_API_KEY=sk-...
ANTHROPIC_API_KEY=sk-ant-...

# Django LTDB
LTDB_API_URL=https://lestechniciensdudebouchage.fr
LTDB_PUBLISH_TOKEN=ruiQvAxSn5VL075j9WfTEL7ftvykTXkEgqBvbfFQfsw
